@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Base Background */
		--color-base: #ffffff;
		--color-card: #f1f5f9;

		/* Base Text */
		--color-heading: #334155;
		--color-body: #64748b;

		/* Accent Colors */
		--color-primary: #1d4ed8;
		--color-primary-dark: #1e40af;
		--color-primary-light: #2563eb;
		--color-primary-text: #ffffff;

		--color-secondary: #fbbf24;
		--color-secondary-dark: #f59e0b;
		--color-secondary-light: #fcd34d;
		--color-secondary-text: #334155;

		--color-default: #e2e8f0;
		--color-default-dark: #cbd5e1;
		--color-default-light: #f1f5f9;
		--color-default-text: #475569;
	}
}

.theme-dark {
	/* Base Background */
	--color-base: #0f172a;
	--color-card: #1e293b;

	/* Base Text */
	--color-heading: #f8fafc;
	--color-body: #94a3b8;

	--color-default: #475569;
	--color-default-dark: #334155;
	--color-default-light: #64748b;
	--color-default-text: #f8fafc;
}

html,
body {
	@apply text-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold text-heading;
}

.btn-primary,
.btn-secondary,
.btn-default {
	@apply flex flex-row items-center justify-center px-4 py-2 gap-3 rounded-full;
}

.btn-primary {
	@apply bg-primary text-primary;
	@apply hover:bg-primary-light text-primary;
	@apply focus:bg-primary-light text-primary;
}

.btn-secondary {
	@apply bg-secondary text-secondary;
	@apply hover:bg-secondary-light text-secondary;
	@apply focus:bg-secondary-light text-secondary;
}

.btn-default {
	@apply border-2 border-default text-default;
	@apply hover:bg-default-light text-default;
	@apply focus:bg-default-dark text-default;
}
